:root {
  --background-color: #1b2430;
  --card-color: #313d4d;
  --text-color: #fff;
  --danger-color: #f24c4c;
  --success-color: #53bf9d;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  font-weight: 400;
}

button {
  border: 0;
  font-family: inherit;
}

input,
textarea {
  display: block;
  font-family: inherit;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

#root {
  display: grid;
  grid-template-areas: 'form' 'main';
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem;
}

.form-container {
  grid-area: 'form';
}

.main-container {
  grid-area: 'main';
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}


/* Note Card */

.notes-section {
  margin-top: 1rem;
}

.notes-section .notes-section__title {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.0313rem;
  text-transform: uppercase;
}

.card {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--card-color);
  border-radius: 0.5rem;
}

.card .card__header {
  margin-bottom: 0.75rem;
}

.card .body-card {
  font-weight: 300;
  margin-top: 0.25rem;
  color: #b2bac5;
}

.card__header .header-text {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.header-text>h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.header-text>small {
  font-size: 0.75rem;
  font-weight: 500;
  color: #a5afbd;
}

.card .card__footer {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.card__footer .btn {
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-color);
  border-radius: 0.5rem;
}

.btn--danger {
  background-color: var(--danger-color);
}

.btn--success {
  background-color: var(--success-color);
}