*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  font-weight: 400;
}

button {
  border: 0;
}

input,
textarea {
  display: block;
  font-family: inherit;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Popins', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

#root {
  display: grid;
  grid-template-areas: 'form' 'main';
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 100%;
  margin: 2rem;
}

.form-container {
  grid-area: 'form';
}

.main-container {
  grid-area: 'main';
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/* Note Card */

.card {
  display: flex;
  flex-direction: column;
  /* background-color: ; */
  gap: 1rem;
}