:root {
  --background-color: #1b2430;
  --card-color: #313d4d;
  --text-color: #fff;
  --danger-color: #f24c4c;
  --success-color: #53bf9d;
  --gray-color: #b2bac5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  font-weight: 400;
}

input,
textarea {
  display: block;
  width: 100%;
}

button,
input[type="submit"] {
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--text-color);
  cursor: pointer;
  transition: 150ms ease;
}

button:hover,
input[type="submit"]:hover {
  opacity: 0.8;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--success-color);
}

button,
input,
textarea {
  border: 0;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  margin: 2rem;
  font-family: "Jost", sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}


/* Button style */

.btn--danger {
  background-color: var(--danger-color);
}

.btn--success {
  background-color: var(--success-color);
}


/* Header  */

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--card-color);
  border-bottom: 1px solid var(--gray-color);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.header-wrapper .header-wrapper__logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 1.75rem;
  font-weight: 800;
}

.nav-menu>ul {
  display: flex;
  gap: 1.75rem;
  list-style: none;
}


/* Main */

.container {
  display: grid;
  grid-template-areas: "form" "section";
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2.75rem;
}

.form-wrapper {
  grid-area: "form";
}

.section-wrapper {
  grid-area: "section";
  display: flex;
  flex-direction: column;
}


/* Input Style */

.input-text {
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--card-color);
  color: var(--text-color);
}

.input-textarea {
  min-height: 7.5rem;
  resize: vertical;
}

.section-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  margin-bottom: 0.25rem;
}


/* Search Note */

.search-input {
  position: relative;
}

.search-input .search-input__icon {
  position: absolute;
  top: 49%;
  left: 1rem;
  transform: translateY(-49%);
}

.search-input>.input-text {
  padding: 1rem 1rem 1rem 2.5rem;
}


/* Note Form */

.form-notes {
  margin-top: 2rem;
}

.title-input {
  position: relative;
}

.title-input {
  border-radius: 0.25rem;
}

.title-input .title-input__counter {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 0.75rem;
  color: var(--text-color);
}


/* Note Card */

.notes-section {
  margin-block: 1rem;
}

.notes-section .notes-section__title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.card {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--card-color);
  border-radius: 0.25rem;
}

.card .card__header {
  margin-bottom: 0.75rem;
}

.card .body-card {
  font-weight: 200;
  margin-top: 0.375rem;
}

.header-text>h3 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.header-text>small {
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--gray-color);
  border-radius: 50px;
}

.card .card__footer {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.card__footer .btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

@media (min-width: 48rem) {
  .container {
    grid-template-areas: "form form" "section section";
    grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
  }
  .notes-section {
    margin-top: 0;
  }
}

@media (min-width: 52.5rem) {
  .card__header .header-text {
    display: flex;
    align-items: center;
    gap: 0.125rem;
  }
}

@media (min-width: 80rem) {
  body {
    max-width: 1024px;
    margin-inline: auto;
  }
}